<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $('.email').change(function() {

            var username=$('.email').val().split('@');
            if(username.length>1)
            {

                $.get( "/checkUserName", { userName: username},(data,status)=>{
                    if(data=='1')
                        $('.valid').html("<h9>valid User Name</h9>")
                    else if(data=="0")
                        $('.valid').html("<h9>UnValid User Name</h9>")
                } );
            }

        });

    })
</script>
<div class="container">
    <div class="row">
        <div class="card text-center col-9 col-auto ml-30" style="margin-left: 150px; margin-top: 70px;" >
            <div class="card-body">
                <div class="card-header">
                    Sign Up
                </div>
                <form action="/signup" method="POST">
                    <div class="form-group">

                        <input type="hidden" class="form-control" placeholder="User name" name="name">

                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control email" aria-describedby="emailHelp" placeholder="Email address"
                               name="email">
                        <label class="valid"></label>
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="password" name="password">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Phone number"
                               name="phone">
                    </div>

            <button type="submit" class="btn btn-primary c">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
