
<div class="container">
<div class="row">
<div class="card text-center col-9 col-auto ml-30" style="margin-left: 150px; margin-top: 70px;" >
	<div class="card-body">
		<div class="card-header">
			Sign Up
		</div>
		<form action="/signup" method="POST">
			<div class="form-group">

				<input type="text" class="form-control" placeholder="User name" name="name">

			</div>
			<div class="form-group">

				<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email address"
					name="email">
			</div>
			<div class="form-group">

				<input type="password" class="form-control" placeholder="password" name="password">
			</div>
			<div class="form-group">

				<input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Phone number"
					name="phone">

			</div>
	</div>
	<button type="submit" class="btn btn-primary c">Submit</button>
	</form>
</div>
</div>	
</div>
</div>